{
  "plugins": [
    "syntax-dynamic-import"
  ],
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": ["last 2 Chrome versions"]
        }
      }
    ],
    "react"
  ],
  "env": {
    "karma": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
