@tailwind base;
@tailwind components;

/* Write your utility classes here */

@tailwind utilities;

body {
    background: cornsilk;
    background-image: url("./logo.png");
    background-repeat: no-repeat;
    background-position: center;
}
